# Python
venv/
venv_wsl/
__pycache__/
*.pyc

# Experiment outputs
*.csv
*.npy
*.pkl
*.parquet
*.h5
*.db

# Arrow builds
arrow/cpp/build/
arrow-install/
arrow-dist/
arrow/
all_experiments
experiments
# VS Code
.vscode/

# Temporary
temp.*
output_data.*